In this project we wil import a reduced dataset of Hacker_news.csv
0 = id
1 = title
2 = url
3 = num_points
4 = num_comments
5 = author
6 = created_at

In [14]:
import pandas as pd
import datetime as dt
import numpy as np

#from csv import reader
#opened_file = open('hacker_news.csv')
#read_file = reader(opened_file)

#hn = list(read_file)
#hn = hn[1:]
#print(hn[:4])
hn= pd.read_csv('hacker_news.csv',parse_dates=[6])

In [15]:
hn.head()

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,2016-08-04 11:52:00
1,10975351,How to Use Open Source and Shut the Fuck Up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,2016-01-26 19:30:00
2,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,2016-06-23 22:20:00
3,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,2016-06-17 00:01:00
4,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,2015-09-30 04:12:00

filter the data set for Ask HN and Show HN

In [16]:

ask_posts=hn[hn['title'].apply(lambda x: x.lower().startswith('ask hn'))]
show_posts = hn[hn['title'].apply(lambda x: x.lower().startswith('show hn'))]

prefixes = ['ask hn','show hn']
other_posts = hn[~hn['title'].apply(lambda x: x.lower().startswith(tuple(prefixes)))]

In [17]:
print('Number of posts in Ask, Show and Other:')
print(len(ask_posts), len(show_posts), len(other_posts))

Number of posts in Ask, Show and Other:
1744 1162 17194

Now we will check the total number of comments per each type of post

In [18]:
tot_comments_ask = ask_posts['num_comments'].sum()
tot_comments_show = show_posts['num_comments'].sum()
tot_comments_other = other_posts['num_comments'].sum()

avg_ask_posts = tot_comments_ask / len(ask_posts)
avg_show_posts = tot_comments_show / len(show_posts)
avg_other_posts = tot_comments_other / len(other_posts)

print (avg_ask_posts, avg_show_posts, avg_other_posts)

14.038417431192661 10.31669535283993 26.8730371059672

It seems that Ask posts recevive on average more comments than show posts: 14 vs 10

Now we will chek the average number of comments per hour in the Ask Posts

In [32]:
s_hour = ask_posts['created_at'].dt.hour
avg_by_hour = ask_posts.groupby(s_hour)['num_comments'].mean()
#ask_posts.groupby(s_hour)['num_comments'].mean().plot()
print(avg_by_hour)

created_at
0      8.127273
1     11.383333
2     23.810345
3      7.796296
4      7.170213
5     10.086957
6      9.022727
7      7.852941
8     10.250000
9      5.577778
10    13.440678
11    11.051724
12     9.410959
13    14.741176
14    13.233645
15    38.594828
16    16.796296
17    11.460000
18    13.201835
19    10.800000
20    21.525000
21    16.009174
22     6.746479
23     7.985294
Name: num_comments, dtype: float64

looks like most o fthe comments appear in 15:00